.newuser{
  font-size: xx-large;
  color:green;
  
}

.buyandsell{
  font-size: xx-large;
  color: green;
  
}

.userlogin{
  font-size: xx-large;
  color: green;
  
}

.shoppingcart{
  font-size: xx-large;
  color: green;
  
}

.cnu{
  color: green;
}

.nuser{
  color: green;
}
.scart{
  color: green;
}

.ho{
  color:green;
}
