.newuser{
  font-size: xx-large;
  color:green;
  
}

.buyandsell{
  font-size: xx-large;
  color: green;
  
}

.userlogin{
  font-size: xx-large;
  color: green;
  
}

.login{
  font-size: xx-large;
  color: rgb(0, 0, 0);
  list-style-type: none;
  padding-top: 0em;
  background-color: yellow;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
}

.cnu{
  color: green;
}

.nuser{
  color: green;
}
.scart{
  color: green;
}

.ho{
  color:green;
}
