.create{
    color: green;
    font-size: xx-large; 
}

.button1{
    color: green;
}
.button2{
    color: green;
}

h3{
    font-size:large;
    color: green;
}

body{
    background-color:black;
}

label{
    color: green;
    font-size: xx-large;
}
.or{
    color: green;
}
h4{
    color: green;
}
h3{
    color: green;
}
h1{
    color: green;
}

div{
    background-color: darkseagreen;
}
.sybd{
    background-color: goldenrod;
}
.bod{
    background-color: goldenrod;
}
th,tr, td {
    border: 1px solid rgb(93, 94, 5);
    padding: 7px 5px;
}

table, thead{
    border-collapse: collapse;
    border: 2px solid rgb(9, 119, 146);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    
}

